@import "pretendard/dist/web/variable/pretendardvariable.css";

@theme {
  --font-sans: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Noto Sans KR", sans-serif;

  --text-display: 3rem;
  --text-display--line-height: 1;
  --text-display--letter-spacing: -0.3125rem;
  --text-display--font-weight: 600;

  --text-h1: 2rem;
  --text-h1--line-height: 1;
  --text-h1--letter-spacing: -0.25rem;
  --text-h1--font-weight: 600;

  --text-h2: 1.5rem;
  --text-h2--line-height: 1;
  --text-h2--letter-spacing: -0.13125rem;
  --text-h2--font-weight: 600;

  --text-h3: 1.25rem;
  --text-h3--line-height: 1;
  --text-h3--letter-spacing: -0.09375rem;
  --text-h3--font-weight: 600;

  --text-label: 0.875rem;
  --text-label--line-height: 1;
  --text-label--letter-spacing: -0.125rem;
  --text-label--font-weight: 500;

  --text-eyebrow: 0.75rem;
  --text-eyebrow--line-height: 1;
  --text-eyebrow--letter-spacing: 0.5rem;
  --text-eyebrow--font-weight: 500;

  --text-body-1: 1rem;
  --text-body-1--line-height: 1;
  --text-body-1--letter-spacing: 0rem;
  --text-body-1--font-weight: 400;

  --text-body-2: 0.875rem;
  --text-body-2--line-height: 1;
  --text-body-2--letter-spacing: 0rem;
  --text-body-2--font-weight: 400;

  --text-body-3: 0.75rem;
  --text-body-3--line-height: 1;
  --text-body-3--letter-spacing: 0rem;
  --text-body-3--font-weight: 400;

  --text-button: 0.875rem;
  --text-button--line-height: 1;
  --text-button--letter-spacing: 0rem;
  --text-button--font-weight: 500;

  --text-code: 0.8125rem;
  --text-code--line-height: 1;
  --text-code--letter-spacing: 0rem;
  --text-code--font-weight: 400;
}
